@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

body {
  color: #00ff41;
  background-color: black;
  margin: 0;
  font-family: "Creepster";
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
